src/main/resources/configs/shop.dtd

<!ELEMENT shop (category)>
<!ELEMENT category (sub_category)>
<!ELEMENT sub_category (good)>
<!ELEMENT good (product_name, provider, model, date, color, price)>
<!ELEMENT product_name (#PCDATA)>
<!ELEMENT provider (#PCDATA)>
<!ELEMENT model (#PCDATA)>
<!ELEMENT date (#PCDATA)>
<!ELEMENT color (#PCDATA)>
<!ELEMENT price (#PCDATA)>